MAPI_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjMjY2NDg4OGQ4ZmQ0N2VjYTg4ZmQ0MDdkZDI4NzFiZSIsImlhdCI6MTc0Nzc0NTU5MSwibmJmIjoxNzQ3NzQ1NTkxLCJleHAiOjE3NjM2NDY3MjAsInZlciI6IjMuMC4wIiwidWlkIjoidmlydHVhbF8yOWE1MzhiMC00NWEwLTRlYzgtODcyYi0yYTI2ZTk4ZjcxNjUiLCJzY29wZV9pZCI6ImNhZGJlODc0MGMzZDQ1MDY5MmUzNmE1OWNkZDkwNmRkIiwicHJvamVjdF9jb250YWluZXJfaWQiOiJjOGJmZTY1YjEyOTYwMGVhNWIyM2U3MjZkOGMyYmQ0YiIsImF1ZCI6Im1hbmFnZS5rZW50aWNvY2xvdWQuY29tIn0.uOnaght_AcBcnW2V0y7LBI5S-QZ2xBroSSYSxX-ksXk